.topbar {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: topbar;
}

.right-nav {
    font-size: 25px;
}

.right-nav>* {
    margin-right: 15px;
    color: black;
    text-decoration: none;
}

.profile-pic {
    height: 75%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
        "topbar"
        "main"
}

.content {
    grid-area: main;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchbar {
    border: 3px solid black;
    border-radius: 15px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: none;
}

.searchbar input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 5px 10px 5px 15px;
    -webkit-text-fill-color: black;
    /* styles the placeholder */
    font-size: 20px;
}

.searchbar img {
    padding-right: 10px;
}

.levels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.level {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border: 3px solid black;
    border-radius: 15px;
    width: 400px;
    margin: 20px;
    color: black !important;
    text-decoration: none !important;
}

.image {
    border: 3px solid black;
    border-radius: 7px;
    box-sizing: border-box;
    aspect-ratio: 5 / 3;
}

.no-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.no-image p {
    font-size: 30px;
}

.image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-and-rating,
.tags-and-plays {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px;
    position: relative;
    width: 100%;
}

.name::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, transparent 95%, #C29A62 100%)
}

.name.my-levels {
    margin: auto;
    margin-top: 5px;
}

.approval-rating-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.approval-rating {
    font-size: 20px;
    margin: 0;
    margin-right: 5px;
}

.approval-rating-wrapper img {
    aspect-ratio: 1;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tags {
    display: flex;
    flex-direction: row;
}

.plays-finishes {
    margin: 0;
    font-size: 20px;
}

.page-title {
    font-weight: 500;
}

.quick-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto
}

.quick-action {
    flex-direction: row;
    align-items: center;
    margin: 10px 20px;
}

.quick-action img {
    width: 35px;
    height: 35px;
}

.quick-action p {
    margin: 0;
    margin-right: 10px;
    font-size: 25px;
}

.quick-actions a {
    color: black;
    text-decoration: none;
}

.quick-actions button {
    border: none;
    background-color: transparent;
    padding: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay .confirm-delete {
    background-color: #C29A62;
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px 20px;
}

.overlay .confirm-delete h2 {
    font-weight: 500;
    font-size: 35px;
    justify-self: center;
    margin: 20px auto 40px auto;
}

.overlay .confirm-delete .options {
    display: flex;
    justify-content: space-between;
}

.overlay .option {
    border-radius: 10px;
    margin: 0 20px 10px 20px;
    border: 3px solid black;
}

.overlay #confirm-button {
    color: #C29A62;
    background-color: black;
}

.overlay #cancel-button p,
.overlay #confirm-button p {
    font-size: 30px;
    margin: 0;
    padding: 10px 50px;
}

.quick-actions p {
    font-size: 35px;
    margin: 0 auto;
}

.divider {
    width: 0;
    height: 30px;
    border-left: 3px solid black;
    border-radius: 13px;
}