.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute
}

.game-wrapper {
  width: min(90vw, 1200px);
  aspect-ratio: 5 / 3;
  border: 4px solid black;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden
}

body .game {
  height: 100%;
  width: 100%;
  border: none;
  z-index: 0;
}

canvas {
  z-index: 0 !important;
}

.approval-percentage {
  font-size: 25px;
}

.name {
  font-size: 30px;
}

.info p,
.info h2 {
  margin-top: 10px;
  margin-bottom: 0;
}

.row {
  width: min(90vw, 1200px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.plays-wrapper {
  display: flex;
  flex-direction: row;
}

.plays-wrapper>* {
  font-size: 25px;
  margin: 0;
  margin-left: 10px;
}