.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  scrollbar-width: none;
}

.game-wrapper {
  width: min(90vw, 1200px);
  aspect-ratio: 5 / 3;
  max-height: calc(80vh - 80px);
  border: 4px solid black;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden
}

body .game {
  height: 100%;
  width: 100%;
  border: none;
  z-index: 0;
}

canvas {
  z-index: 0 !important;
}

.approval-percentage {
  font-size: 25px;
  margin: 0;
}

.name {
  font-size: 30px;
}

.info p,
.info h2 {
  margin-bottom: 0;
}

.info {
  margin-top: 10px;
}

.row {
  width: min(90vw, 1200px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.plays-wrapper {
  display: flex;
  flex-direction: row;
}

.plays-wrapper>* {
  font-size: 25px;
  margin: 0;
  margin-left: 10px;
}

.approval-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.edit {
  font-size: 25px;
  background-color: black;
  outline: none;
  border: none;
  color: #c29a62;
  font-family: "Fredoka", sans-serif;
  border-radius: 10px;
  margin-left: 20px;
  padding: 5px 15px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

a.edit img {
  width: 26px;
  aspect-ratio: 1;
  margin-left: 10px;
}

.settings img {
  width: 36px;
  aspect-ratio: 1;
  margin-left: 10px;
}

.approval-wrapper img {
  width: 36px;
  aspect-ratio: 1;
  margin-left: 10px;
}

.edit p {
  margin: 0;
}

.description {
  font-size: 20px;
}