body {
  background-color: #C29A62;
  font-family: "Fredoka", sans-serif;
  margin: 0;
  scrollbar-width: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 80px 1fr;
  grid-template-areas: 
    "topbar topbar"
    "game sidebar";
}

.grid-uihidden {
    grid-template-columns: 1fr 0px;
}

.topbar {
  grid-area: topbar;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.actions img.menu-button {
  aspect-ratio: 1;
  width: 40px;
}

.sidebar {
  grid-area: sidebar;
  overflow: hidden;
  min-height: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  scrollbar-width: none;
}

.sidebar-two {
  width: 80px;
  height: 100%;
  display: flex;
  min-height: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.sidebar-one {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  overflow-y: scroll;
  scrollbar-width: none;
}



.category-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  border-right: 4px solid #AF8758;
  margin-bottom: 10px;
  box-sizing: border-box;
  transform: translateX(4px)
}
.category-blocks > * {
  margin: 10px 0;
  height: 50px;
  width: 50px;
  padding: 5px 15px;
  image-rendering: pixelated;
}

.tile-select {
  height: 50px;
  width: 50px;
  image-rendering: pixelated;
}


.categories {
  overflow: scroll;
  scrollbar-width: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-self: end;
  box-sizing: border-box;
}

.category {
  cursor: pointer;
}

.categories:has(.active) {
  border-left: 4px solid #AF8758;
}

.categories div.active::after {
  content: '';
  position: absolute;
  transform: translateY(175%) translateX(-76px) rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: #C29A62;
  border-right: 4px solid #AF8758;
  border-top: 4px solid #AF8758;
  border-radius: 2px;
}

.zoom {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.zoom img {
  width: 35px;
  height: 35px;
  margin: 15px auto;
}


.tile-selection {
  overflow-y: scroll;
  scrollbar-width: none;
  flex: 1;
  width: 80px;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.tile-select-container {
  cursor: pointer;
}

div.eraser > img {
  width: 50px;
  height: 50px;
}

.tile-selection img {
  width: 60px;
  height: 60px;
  image-rendering: pixelated; 
  user-select: none;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center; 
  object-fit: cover;
}

.actions > * {
  margin-right: 20px;
}

.actions img {
  width: 50px;
  height: 50px;
  font-size: 35px;
}

.actions i {
  font-size: 35px;
}

i::before {
  margin: auto 0;
}

.title {
  font-size: 35px;
  font-weight: 500;
  padding-left: 20px; 
}

.game {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 4px solid black;
  justify-self: center;
  position: relative;
  scrollbar-width: none;
}

.canvas {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.background {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu-content {
  z-index: 3;
  background-color: #C29A62;
  border-radius: 20px;
  min-height: 400px;
  user-select: none;
  font-weight: 500;
}

input[type="radio"] {
  display: none;
}

.menu-content input[type="radio"]:nth-of-type(1):checked ~ .tabs li:nth-of-type(1), 
.menu-content input[type="radio"]:nth-of-type(2):checked ~ .tabs li:nth-of-type(2), 
.menu-content input[type="radio"]:nth-of-type(3):checked ~ .tabs li:nth-of-type(3), 
.menu-content input[type="radio"]:nth-of-type(4):checked ~ .tabs li:nth-of-type(4), 
.menu-content input[type="radio"]:nth-of-type(5):checked ~ .tabs li:nth-of-type(5) {
  background-color: #C29A62;
  border: 3px solid black;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  transform: translateY(3px);
  z-index: 2;
}

.tabs {
  margin: 15px 20px 15px 20px;
  border-bottom: 3px solid black;
}

.tabs ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.close-button {
  width: 30px;
  height: 30px;
}

.tabs label {
  font-size: 25px;
  width: 100px;
}

.tabs li {
  padding: 5px 0;
  box-sizing: border-box;
  width: 120px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}


.tabs li:has(img) {
  display: flex;
  justify-content: end;
  width: 40px;
}

.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 20px;
  align-items: center;
}

.menu-item h3 {
  margin: 0;
  font-size: 25px;
}

.menu-item select {
  background-color: #C29A62;
  border: none !important;
  font-family: "Fredoka", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: end;
  padding: 5px;
}

.menu-item select option {
  border: none;
  outline: none;
  border-radius: 0 0 10px 10px;
}

.menu-item select:focus {
  outline: none;
  border: none;
}

.menu-item label {
  font-size: 25px;
}

.menu-item input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 300px;
  cursor: pointer;
}

.menu-item input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  background: black;
  border: none;
  border-radius: 2px;
}

.menu-item input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  background: black;
  border: none;
  border-radius: 2px;
}

.menu-item input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 200px;
  background: #C29A62;
  border: 3px solid black;
  box-sizing: border-box;
  margin-top: -7px;
}
.menu-item input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 200px;
  background: #C29A62;
  border: 3px solid black;
  box-sizing: border-box;
}



.tab {
  display: none;
}

.menu-content input[type="radio"]:nth-of-type(1):checked ~ .tab-content .tab:nth-of-type(1), 
.menu-content input[type="radio"]:nth-of-type(2):checked ~ .tab-content .tab:nth-of-type(2),
.menu-content input[type="radio"]:nth-of-type(3):checked ~ .tab-content .tab:nth-of-type(3),
.menu-content input[type="radio"]:nth-of-type(4):checked ~ .tab-content .tab:nth-of-type(4),
.menu-content input[type="radio"]:nth-of-type(5):checked ~ .tab-content .tab:nth-of-type(5) {
  display: block;
}

.keyboard-shortcuts {
  margin: 0 20px;
}

.keyboard-shortcuts ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

.keyboard-shortcuts p {
  font-size: 25px;
  margin: 10px;
}

span.keyboard-shortcut {
  border: 2px solid black;
  padding: 0 5px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  color: black;
}

.keyboard-shortcuts li {
  padding: 5px;
  font-size: 18px;
}
