.topbar {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: topbar;
}

.right-nav {
    font-size: 25px;
}

.right-nav > * {
    margin-right: 15px;
    color: black;
    text-decoration: none;
}

.profile-pic {
    height: 75%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
        "topbar"
        "main"
}

.content {
    grid-area: main;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchbar {
    border: 3px solid black;
    border-radius: 50px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: none;
}

.searchbar input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 5px 10px 5px 15px;
    -webkit-text-fill-color: black; /* styles the placeholder */
    font-size: 20px;
}
