body {
  background-color: #C29A62;
  font-family: "Madimi One", monospace;
  margin: 0;
  scrollbar-width: none;
  width: 100vw;
  height: 100vh;
}

.grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 80px 1fr;
  grid-template-areas: 
    "topbar topbar"
    "game sidebar";
}

.topbar {
  grid-area: topbar;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: scroll;
  scrollbar-width: none;
}

.sidebar-two {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sidebar-one {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  overflow-y: scroll;
  scrollbar-width: none;
}

.category-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  border-right: 4px solid #AF8758;
}
.category-blocks * {
  margin-bottom: 20px;
  height: 50px;
  width: 50px;
  padding: 5 15px;
  image-rendering: pixelated;
}

.categories {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: end;
}

.categories img.active::after {
  content: '';
  position: absolute;
  z-index: 1;
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border: 4px solid #AF8758;
}

.zoom {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.zoom i {
  font-size: 30px;
  margin: 15px auto;
}

.tile-selection {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.tile-selection img {
  width: 60px;
  height: 60px;
  image-rendering: pixelated; 
  user-select: none;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center; 
  object-fit: cover;
}

.actions > * {
  margin-right: 20px;
}

.actions img {
  width: 50px;
  height: 50px;
  font-size: 35px;
}

.actions i {
  font-size: 35px;
}

i::before {
  margin: auto 0;
}

.title {
  font-size: 35px;
  padding-left: 20px; 
}

.game {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-width: 800px;
  border: 4px solid black;
  justify-self: center;
  position: relative;
  scrollbar-width: none;
}

.canvas {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}